*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    width: 50px;
}
small{
    display: none;
}
h2{
    font-style:Impact;
    font-size: larger;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(130deg, rgb(0, 132, 255), rgb(114, 250, 243))
}
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    background-color: #fff;
    border-radius: 5px;
}   
.container .title{
    font-size: 25px;
    font-weight: 500;
}
.container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10 0 12px 0;
}
form .form-group{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form span{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-group input{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.form-group input:focus,
.form-group input:valid{
    border-color: rgb(0, 119, 255);
}
form .button{
    height: 40px;
    width: 100%;
    margin: 40px 0; 
}
form .button input{
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
    background: linear-gradient(130deg, rgb(0, 132, 255), rgb(114, 250, 243))
    ;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}
form .button input:hover{
    background: linear-gradient(130deg,  rgb(114, 250, 243), rgb(6, 135, 255))
}
.was-validated small{
    display: block;
    color: red;
}
@media(max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .form-group{
        margin-bottom: 15px;
        width: 100;
    }
    .container form{
        max-height: 400px;
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
        width: 0;
    }
    form .button{
        margin: 20px 0;
    }
} 
